<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid m-5">
        <div>
            <h1>Contact</h1>
            <p>Its in another language :(</p>
        </div>
        <div>
            <form class="p-5 border bg-light  mx-auto" style="width: 800px;">
                <div class="mb-3 ">
                    <label class="form-label ">Your E-mail</label>
                    <input type="email" class="form-control" placeholder="Your email">
                  </div>
                  <div>
                    <label class="form-label"> Your message</label>
                    <textarea class="form-control col-" id="exampleFormControlTextarea1" rows="3" placeholder="please enter your message here..."></textarea>
                  </div>
                  <div class="opacity-10">
                    <button class=" translate- bg bg-primary text-white m-3 border border-1 border-dark rounded-2">
                        <h4>Submit</h4>
                    </button>
                  </div>
            </form>
        </div>
    </div>
    
</body>
</html>